<!DOCTYPE html>
<html lang="en">

<head>
	<!-- head begins -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fuel App | Fuel Quote History</title>
	<!-- title -->
	<link rel="stylesheet" href="../css/fuel-quote-history.css" />
	<!-- linking the css file -->
</head><!-- head ends -->

<!--header-->
<header>
	<div class="banner" style="height: 75px;">
	<div class="logo">
		<h1>LOGO</h1>
	</div>

	<!--home button-->
		<form action="/">
			<input type="submit" class="home-button" title="Go back to home." value="Home" />
		</form>

	<!--logout button -->
		<form method="POST" action="/logout">
			<input type="submit" class="logout-button" title="Log out of account." value="Logout" />
		</form>
	</div>
</header>

<body>
	<!-- body begins -->
	<!--Note that for this section need to make this part connected to the database where it will show actualy history. For now this is a model showing posisble old data.-->
	<div class="container form-parent-class" id="fuel-quote-history">
		<h1 class="form-title">Fuel Quote History</h1>

		<table style="width: 100%">
			<!-- table begins-->
			<tr>
				<th>Gallons Requested</th>
				<th>Delivery Address</th>
				<th>Delivery Date</th>
				<th>Suggested Price / gallon</th>
				<th>Total Amount Due</th>
			</tr>

			<% locals.quotes.forEach(quote => { %>
			<tr class="row">
				<td><%= quote.gallonsRequested %> </td>
				<td><%=quote.address%></td>
				<td><%=quote.deliveryDate%></td>
				<td><%=quote.suggestedPrice%></td>
				<td><%=quote.totalAmount%></td>
			</tr>
			<% }) %>

		</table>
		<!-- table ends-->

		<div class="form-input-group">
			<!-- return-button box-->
			<a href="/new-fuel-quote" class="form-button basic">Request Fuel Quote</a>
		</div>
	</div>
	<!-- container box ends here -->
</body>
<!-- body ends -->

</html>